<html>
	<head>
		<link rel="stylesheet" href="{{ reverse('logd-media', kwargs={"path": "css/bootstrap.min.css"}) }}" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ reverse('logd-media', kwargs={"path":"css/screen.css"}) }}" type="text/css" media="screen" charset="utf-8"> 
		<link rel="stylesheet" href="{{ reverse('logd-media', kwargs={"path":"css/pastie.css"}) }}" type="text/css" media="screen" charset="utf-8"> 
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ reverse('logd-media', kwargs={'path':'js/logdweb.js'}) }}"></script>
		<script type="text/javascript">
			logd_base_url = "{{ logd_base_url }}";
		</script>
	</head>

	<body>
		<div id="header">
			{% block header %} {% endblock %}
		</div>
		<div id="body">
			<div id="sidebar">
				{% block sidebar %}{% endblock %}
			</div>
			<div id="main">
				{% block main %}{% endblock %}
			</div>
		</div>
	</body>
</head>
