{% extends "logdweb/index.jinja" %}
{% import "logdweb/lib.jinja" as lib %}

{% block main %}
	<h2>{{ stat }}:{{ bucket }}</h2>
	<div class="controls">
		<span class="timers">
		<a change="{from: '-1year'}" href="#">1y</a>
		<a change="{from: '-1month'}" href="#">1m</a>
		<a change="{from: '-2weeks'}" href="#">2w</a>
		<a change="{from: '-1week'}" href="#">1w</a>
		<a change="{from: '-3day'}" href="#">3d</a>
		<a change="{from: '-1day'}" href="#">1d</a>
		<a change="{from: '-12hours'}" href="#">12h</a>
		<a change="{from: '-3hours'}" href="#">3h</a>
		<a class="on" change="{from: '-1hour'}" href="#">1h</a>
		<a change="{from: '-30minutes'}" href="#">30m</a>
		</span>
		<a id="auto_refresh" class="toggle refresh on" title="disable auto refresh" href="#">&#x27f2;</a>
		<a id="contrast_mode" class="toggle contrast on" title="swap light/dark" href="#">&#x25a1;</a>
	</div>
	{{ render_charts(chart) }}
{% endblock %}

{% macro render_charts(chart) -%}
	{% for key,data in chart.chartmap.iteritems() %}
		<div class="chart">
			<div class="chart-container">
				<div class="left overlay"><a href="#">&lt;</a></div>
				<img src="{{ chart.url(key) }}" alt="{{ key }}" id="{{ key|jsclass }}" />
				<div class="right overlay"><a href="#">&gt;</a></div>
			</div>
		</div>
	{% endfor %}
{%- endmacro %}

