{% extends "logdweb/base.jinja" %}
{% import "logdweb/lib.jinja" as lib without context %}

{% block header %}
	<h1 class="title"><a href="{{ reverse('logd-index') }}">logd admin</a></h1>
{% endblock %}

{% block sidebar %}
	{# {{ lib.sidebar_dashboard() }} #}
	{{ lib.sidebar_logfiles(info['logfiles'], current, loggers, logger) }}
	{{ lib.sidebar_stats(stats) }}

{% endblock %}

{% block main %}
	{% if path %}
    {{ lib.delete_confirm_modal(path) }}

		<h2>{% if level or logger or details %}<a href="{{ reverse('logd-path-index', kwargs={'path':path}) }}">{{ path }}</a>{% else %}{{ path }}
      <span class="log-labels">
        <a class="btn btn-info" href="{{ reverse('logd-path-info', kwargs={'path': path}) }}"><i class="icon-info-sign icon-white"></i> info</a>
        <a class="btn btn-danger" data-controls-modal="{{ path|jsclass}}-confirm-delete" data-backdrop="true" data-keyboard="true" href="#"><i class="icon-trash icon-white"></i> delete</a>
      </span>
    {% endif %}
    </h2>
		<div class="search">
			<form id="search-form" action="{{ reverse('logd-path-search', kwargs={'path': path}) }}" method="GET">
				(limit: <input type="text" name="limit" maxlength="3" value="{{ limit or 50 }}" class="limit" />)
				<input type="search" name="q" value="{{ term|e }}" /> <input type="submit" class="btn" value="search" />
			</form>
		</div>

		<div class="log-container">
		{% if lines %}
			<table class="log" id="{{ path }}{% if level %}/level/{{level}}{%endif%}{%if logger %}/logger/{{logger}}{%endif%}">
				{% for line in lines %}
					{{ lib.render_line(line, path) }}
				{% endfor %}
			</table>
		{% endif %}
    </div>
	{% endif %}

	{% if details %}
		{{ lib.render_details(lines[0], path) }}
	{% endif %}

	{% if disable_update %}
	<script type="text/javascript">
		viewSettings.update = false;		
	</script>
	{% endif %}

	{{ lib.show_timers(timers) }}

{% endblock %}
