{% extends "logdweb/index.jinja" %}
{% import "logdweb/lib.jinja" as lib %}

{% block main %}
	<style type="text/css">
	</style>
	<h2><a href="{{ reverse('logd-path-index', kwargs={'path': path}) }}">{{ path }}</a></h2>

	{% set config = path_info['config'] %}
	{% set options = config['options'] %}

	<div class="stats-container">
		<h3>stats:</h3>
		<ul>
			<li><strong>lines:</strong> {{ path_info['count'] }}</li>
			<li><strong>size:</strong> {{ path_info['size']|filesizeformat }}</li>
			<li><strong>size (storage):</strong> {{ path_info['storageSize']|filesizeformat }}</li>
			<li><strong>size (indexes):</strong> {{ path_info['totalIndexSize']|filesizeformat }}</li>
			<li><strong>average msg size:</strong> {{ int(path_info['avgObjSize'])|filesizeformat }}</li>
			<li><strong># of loggers:</strong> {{ len(config['loggers']) }}</li>
		</ul>
		<h3>settings:</h3>
		<ul>
			<li><strong>options:</strong>
				<ul>
					{% for k,v in options.items() %}
					<li><em>{{k}}</em>: {% if k == 'size' %}{{ v|filesizeformat }}{% else %}{{v}}{% endif %}</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	</div>

	{% if disable_update %}
	<script type="text/javascript">
		viewSettings.update = false;		
	</script>
	{% endif %}

	{{ lib.show_timers(timers) }}

{% endblock %}
