
{% macro render_line(line, path) -%}
		<tr>
			<td class="id hidden">{{ line['id'] }}</td>
			<td class="time">{{ line['time'] }}</td>
			<td class="level">
			<a href="{{ reverse('logd-path-level', kwargs={'path':path, 'level': line['level']}) }}" class="{{ line['level'].lower() }}">{{ line['level'].lower()}}</a>
			</td>
			<td class="logger">
				<a href="{{ reverse('logd-path-logger', kwargs={'path': path, 'logger': line['name']}) }}">{{ line['name'] }}</a>
			</td>
			<td class="msg">{{ line['msg'] }}</td>
		</tr>
{%- endmacro %}

