
{% macro render_line(line, path) -%}
		<tr>
			<td class="id hidden">{{ str(line['_id']) }}</td>
			<td class="time"><a href="{{ reverse('logd-path-line', kwargs={'path':path, 'line': str(line['_id'])}) }}">{{ line['time']|datetimeformat }}</a></td>
			<td class="level">
			<a href="{{ reverse('logd-path-level', kwargs={'path':path, 'level': line['level']}) }}" class="{{ line['level'].lower() }}">{{ line['level'].lower()}}</a>
			</td>
			<td class="ip">
				{{ line['ip'] }}
			</td>
			<td class="logger">
				<a href="{{ reverse('logd-path-logger', kwargs={'path': path, 'logger': line['name']}) }}">{{ line['name'] }}</a>
			</td>
			<td class="msg">{{ line['msg']|render_msg }}</td>
		</tr>
{%- endmacro %}

{% macro render_details(line, path) -%}
		<div class="line-details">
			<ul>
				<li><strong>time:</strong> {{ line['time'] |datetimeformat }} (<tt>{{ line['time'] }}</tt>)</li>
			{% for k,v in sorted(line.items()) -%}
			{% if k not in ('id', 'time') %}
				<li><strong>{{ k if k != '_id' else 'id' }}:</strong> 
				{% if k == '_id' %}
					{{ str(v) }}
				{% elif k == 'level' %}
					<a href="{{ reverse('logd-path-level', kwargs={'path': path, 'level': v}) }}">{{ v.lower() }}</a>
				{% elif k == 'name' %}
					<a href="{{ reverse('logd-path-logger', kwargs={'path': path, 'logger': v}) }}">{{ v }}</a>
				{% elif k in ('tb', 'msg') %}
					{{ v | render_msg |safe }}
				{% else %}
					{{ v }}
				{% endif %}
				</li>
			{% endif %}
			{%- endfor %}
			</ul>
		</div>
{%- endmacro %}

{% macro show_timers(timers) -%}
	{% if timers %}
		<script type="text/javascript">
			$(function() {
				$("#show-timers").click(function(e) {
					e.preventDefault();
					$('.timer-info').toggle();
				});
			});
		</script>
		<div class="timers">
			<a id="show-timers" href="#">page generation time</a>
			<div class="timer-info">
			{% for name,val in timers.items() %}
				{{ name }} : {{ "%0.3fs" % val }} <br />
			{% endfor %}
			</div>
		</div>
	{% endif %}
{%- endmacro %}
