{% extends "logdweb/index.jinja" %}
{% import "logdweb/lib.jinja" as lib %}

{% block main %}
	<style type="text/css">
		.statlist ul { margin-left: 1em; }
		.statlist { margin-left: 1em; }
		.statlist li { list-style: circle; }		
	</style>
	<div class="statlist">
	<h2>{{ stat }}</h2>
		{{ statsummary(stats[stat], stat) }}
	</div>
{% endblock %}

{% macro statsummary(d, name, path='') -%}
	<ul>
	{% for key,value in d.iteritems() %}
		{% if isinstance(value, list) %}
			<li> <a href="{{ reverse('logd-stat-chart', kwargs={'stat': name, 'bucket': '%s.%s' % (path, key)}) }}">{{ key }}</a><ul>
			{% for v in value %}
			<li><a href="{{ reverse('logd-stat-chart', kwargs={'stat': name, 'bucket': "%s.%s.%s" % (path, key, v) }) }}">{{ v }}</a></li>
			{% endfor %}
			</ul></li>
		{% else %}
			<li>{{ key }}
				{{ statsummary(value, name, path='%s.%s' % (path,key) if path else key) }}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{%- endmacro %}

